*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

body {
    background-color: #023047;
}

/* MAIN */

.container {
    margin: auto;
    width: 600px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    padding: 2rem;
}

.container_post {
    padding: 1rem;
}

.post {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px
}

.titolo_post {
    display: flex;
    align-items: center;
    gap: 9px;
}

.titolo_post img {
    width: 45px;
    border-radius: 100px;
}

.container_likes {
    display:  flex;
    justify-content: center;
    gap: 130px;
}


